{% extends 'base.html.twig' %}

{% block body %}
<p class="lead">
    I’m Chris a software developer hailing from Bristol and now living in
    Redditch. In my freetime I enjoy skiing, real ale, photography, walking,
    reading, and video gaming; all supplemented with liberal application of
    heavy metal and rock music.
</p>
<p>
    <a class="btn btn-lg btn-primary" href="https://github.com/cs278" rel="external me">GitHub</a>
    <a class="btn btn-lg btn-primary" href="https://twitter.com/cs278" rel="external me">Twitter</a>
</p>
{% endblock %}
