/**
 * http://paletton.com/#uid=7050u0kpBw0fFJEkXBhv6t0wcmo
 */

html {
    font-family: Roboto, 'Droid Sans', 'Helvetica Neue', Arial, sans-serif;
    font-size: 16px;
    color: #333;
    background: #fff;
}

a {
    color: #ff4b33;
}

a:hover, a:active, a:focus {
    color: #26bf4e;
}

a:focus {
    outline: 0;
}

.lead {
    font-size: 1.2rem;
}

.btn {
    padding: 8px 12px;
    border-radius: 4px;
    text-decoration: none;
    display: inline-block;
}

.btn-lg {
    padding: 16px 24px;
    font-size: 1.5rem;
}

.btn-primary {
    background: #ff4b33;
    border: 1px #ff6b58 solid;
    color: #fff;
}

.btn-block {
    display: block;
}

.btn-primary:hover, .btn-primary:active, .btn-primary:focus {
    background: #E72106;
    color: #fff;
}

@media (min-width: 768px) {
    .page-content {
        width: 70%;
        margin: 0 auto;
        padding: 0 50px;
        min-height: 100%;
        background: #eee;
        overflow: hidden;
    }

    #head {
        height: 170px;
    }

    #body {
        min-height: calc(100vh - 170px - 70px);
    }

    #foot {
        height: 70px;
        background: #409cb1;
        color: #fff;
    }

    #foot > .page-content {
        background: #035a6e;
        position: relative;
    }

    #foot p {
        margin: 7px 0 3.5px;
        line-height: 1;
    }

    #foot a {
        color: #fff;
    }

    #foot a:hover,
    #foot a:active,
    #foot a:focus {
        color: #ff4b33;
    }

    .footer-sink {
        position: absolute;
        bottom: 10px;
    }

    .header-heading {
        margin: 50px 0 0 0;
        font-size: 4rem;
    }

    .header-strapline {
        margin: 0;
        font-style: italic;
        font-size: 0.95rem;
        font-weight: 300;
    }
}
